h1,h2,h3,h4,h5,h6,body {
    margin: 0;
    padding: 0;
}

h1 {
    border-bottom: 1px dotted lightgray;
    padding-bottom: 3px;
}

.container {
    width: 90%;
    margin: auto;
}

.container-fluid {
    width: 100%;
}
#cabecera {
    min-height: 800px;
    background-image: url('../images/las_glorias.png');
    background-size: cover;
}

#navbar {
    height: 80px;
    width: 100%;
    position: fixed;
    background-image: linear-gradient(0deg, rgba(255,255,255,0.00) 0%, #000000 100%);
}
